
# Maven
target/


# Eclipse files
.classpath
.project
.settings
/workspace/

# IntelliJ Idea files
*.iml
*.ipr
*.iws
*.idea

# Mac
.DS_Store

# Test remnants
objectstore/
.mule/
*.log
temp/
muleEmbeddedDB/
activemq-data/
testdir/
hostkey.ser
*.h2.db
*.factorypath



# Credential file for individual developer
# which should NOT be committed
my-cred.properties
automation-credentials.properties
concur-config.properties
interop-testdata-override.xml
interop-testdata.xml
muleLicenseKey.lic
*.log

